* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
}

h1 {
    padding-left: 65%;
    margin: 20px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#flex-cont {
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

#nav-panel {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 15px;
}

.nav-button {
        display: block;
        width: 90%;
        justify-self: center;
        font-size: 24px;
        margin: 5px;
        border-radius: 5%;
        color: white;
        font-weight: bold;
    }

.nav-button {
    background-color: black;
    align-self: center;
}

h2 {
    text-align: center;
}

#create {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    background-color: brown;
    align-items: center;
    padding: 5px;
    color: white;
}

#create button {
    width: 80%;
    height: 5%;
    font-size: 24px;
    font-weight: bolder;
}

#content {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

#project {
    display: none;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 25%;
    left: 25%;
    gap: 20px;
}

#projectName {
    align-items: flex-start;
    width: 50%;
}

.projectTitle {
    color: white;
}

.addTask {
    display: none;
}

#task {
    display: none;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 15%;
    left: 30%;
    gap: 10px;
    overflow: scroll;
}

#priority {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#taskTitle {
    width: 60%;
}