* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    padding-left: 65%;
    margin: 20px;
    background-color: black;
    color: white;
}

#flex-cont {
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

#nav-panel {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 15px;
}

#all, #weekly, 
    #monthly, #completed {
        display: block;
        width: 90%;
        justify-self: center;
        font-size: 24px;
        margin: 5px;
        border-radius: 5%;
        color: white;
        font-weight: bold;
    }

#all {
    background-color: black;
}

#weekly {
    background-color: red;
}

#monthly {
    background-color: orange;
}

#completed {
    background-color: green;
}

h2 {
    text-align: center;
}

#createTask {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    background-color: brown;
    align-items: center;
    padding: 5px;
}

#tasks {
    background-color: black;
    height: 100vh;
    width: 100vw;
}